@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #efedd6;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
}
h1{
    margin: 50px;
    color: rgb(110, 2, 44);
}
h3{
    margin-bottom: 10px;
    color: rgb(7, 73, 35);
    font-family: cursive;
}
.box{
    position: relative;
    color: white;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 250px;
    margin: 10px;
    transform: translateX(400%);
    transition: transform 0.4s ease;
}
.box:nth-of-type(even){
    transform: translateX(-400%);
}
.box img{
    border-radius: 20px;
    box-shadow: 2px 4px 5px rgba(0,0,0, 0.3);
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
}
.box.show{
    transform: translateX(0);
}
